div {
    width: 80%;
    margin: auto;
}

h1 {
    color: blue;
    border: 3px solid brown;
    position: static;
    top: 20px;
}

h2 {
    color: red;
    border: 1px dashed blue;
    margin-bottom: 100px;
}

p {
    border: 1px solid black;
    padding: 20px;
}

img {
    border: 1px solid green;

    margin: 0px;
}

